---
import styles from "./About.module.css";
---

<div>
  <div class={styles.aboutH}>
    <h2 class={styles.h}>About kAsA</h2>
    <img src="/favicon.webp" class={styles.icon} />
  </div>
  <p class={styles.intro}>
    kAsAという名前で活動しています。 <br>埼玉大学 工学部 情報工学科
    4年生です。福島県出身の埼玉住みです。
    プログラミングはちょこちょこやっています。ISUCONやWeb speed
    Hackathonに出ては打ちのめされています。<br>
    プログラミングは競技プログラミングから入りました。Atcoderのレートは最高1150で、緑コーダーになります。Webは大学2年生の2月頃から始め、大学3年生の8月からインターンを経験させてもらっています。全然強くないですが、頑張ります。
  </p>
</div>
