---
import Layout from "../layouts/Layout.astro";
import AboutComponent from "../components/About/About.astro";
import styles from "./About.module.css";
---

<Layout title="kAsA's website">
  <div class={styles.main}>
    <AboutComponent />
  </div>
</Layout>
