---
import Layout from "../layouts/Layout.astro";
import AboutComponent from "../components/About/About.astro";
import Certification from "../components/About/Certification.astro";
import TImeline from "../components/About/TimeLine/TimeLine.astro";
import styles from "./_About.module.css";
---

<Layout title="kAsA's website">
  <div class={styles.main}>
    <AboutComponent />
    <Certification />
    <TImeline />
  </div>
</Layout>
