---
// BlogPost.astro
export interface BlogPostProps {
    title: string;
    url: string;
}

const { title, url } = Astro.props;
---

<article>
    <header>
        <a href={url}>
            <h1>{title}</h1>
        </a>
    </header>

</article>
