.home {
    font-size: 28px;
    margin: auto 0 16px 3%;
    color : var(--text);
    text-decoration: none;
    
}

.link {
    color: var(--link);
    text-decoration: none;
    font-size:28px;
    align-self: flex-end;
}

.header{
    display:flex;
    justify-content: space-between;
    height:84px;
    box-shadow: var(--box-shadow);
    position: sticky;        /* または fixed */
    top: 0;                  /* 画面最上部に張り付く */
    left: 0;
    right: 0;
    z-index: 1000;     
    background-color: var(--background-color);
}

ul {
    display:flex;
    justify-content:space-between;
    width: 500px;
    padding-right: 3%;
    list-style: none;
    margin-bottom:16px;
}

li {
    display:flex;
}