p {
    font-size: 28px;
    margin: auto 0 16px 3%;
    color : var(--text);
}

.link {
    color: var(--link);
    text-decoration: none;
    font-size:28px;
    align-self: flex-end;
}

.header{
    display:flex;
    justify-content: space-between;
    height:84px;
    box-shadow: var(--box-shadow);
}

ul {
    display:flex;
    justify-content:space-between;
    width: 500px;
    padding-right: 3%;
    list-style: none;
    margin-bottom:16px;
}

li {
    display:flex;
}