---
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
---
<Layout title={frontmatter.title}>
  <h1>{frontmatter.title}</h1>
  <p>投稿日: {frontmatter.date.toString().slice(0, 10)}</p>
  <p><em>{frontmatter.description}</em></p>
  <slot />
</Layout>
